*~
*.pyc
# Здесь должна быть директория сборки
.mypy_cache # должно переехать
NaN/**/wscript
!NaN/waf_build/wscripts/**/wscript
NaN/waf_build/waf_git
NaN/waf
NaN/**/meson.build
!NaN/meson_build/**/meson.build
SConstruct
!NaN/SCons/**/SConstruct
**/.sconsign.dblite
NaN/targets